.form{
    /* border: 1px solid red; */
    width: 90%;
    position: relative;
    align-items: center;
    display: flex;
}

.input_box{
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    /* box-shadow: inset 0 0 5px black; */
    /* transition: 0.2s; */
}

.input_box:focus{
    box-shadow: 0 0 10px 1000px rgba(0,0,0,0.5);
    outline: none;
}

.input_submit{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    right:0;
    border: none;
    margin: 12px;
    background-color: #2f74c0 ;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.input_submit:hover{
    box-shadow: 0 0 5px black;
    transform: scale(0.8);
}